<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Details upload page </title>
    <link rel="stylesheet" href="style.css">
   </head>
<body>
  <div class="wrapper">
    <h2>User Details</h2>
    <form action="/" method=""POST>
      <div class="input-box">
        <input type="text" placeholder="Enter your Name" name="name" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your Location" name="location" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter you Age" name="age" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter the Technology" name="technology" required>
      </div>
      <!-- <p>Upload <p/> -->
      <div class="input-box">
        <p>Profile Image <p/>
        <input type="file" placeholder="Upload your Image" name="file_name" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Upload">
      </div>
      <!-- <div class="text">
        <h3>Already have an account? <a href="#">Login now</a></h3>
      </div> -->
    </form>
  </div>

</body>
</html>
